
.movie{
    display:flex;
    flex-direction:column;
    padding:10px;
    width:15vw;  
    align-items:center
}
.list{
    display:flex;
    flex-direction:column}
.title_and_button{
    display:flex;
    flex-direction:row
}
.moreButten{
    float:right
}
.listBody{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width:100vw
    
}
.movieImg{
    width:15vw;
    height:auto
}
.movieBody{
    width:15vw;
    background-color: #aaa;
}
.movieName{
color: #300;
}
.movieYear{
color: #07f;    
}
a{
    right: 0;
    position: absolute;
}
button{
border-color: #0b5;
color: #000;
background-color: #0b5;
padding: 4px 10px;
border-style: solid;
border-radius: 0.5vw;
}
button:hover{
    /* background-color: #ff5; */
    border-color: #000;
}